@import 'https://fonts.googleapis.com/css?family=Bungee|Montserrat';
body{
  font-family: Montserrat, sans-serif;
}
/*Fix Later */
@media only screen and (max-width: 1150px){
   html #main-section .left_section{
 		all:unset !important;
 		clear:both !important;
 		position:relative;
    	width:100% !important;
    	padding-top:50px !important;
    }
    body #main_player iframe{
    	margin-top:70px ;
    }
}
/* HEADER */
#header-global .header-left-navigation{
  font-family: bungee, sans-serif;
  text-shadow:1px 1px black, 2px 2px white;
  box-sizing:border-box;
  
}
#header-global{
  background:#1c1c1f;
  box-shadow:0px 5px 10px rgba(0,0,0,.5);
}
#header-global a{

}
#header-global .header-right-navigation span{
}
#header-global .header-donate a{
  display:none;
}
/* MAIN */
#main-room{
	margin:0px !important;
	padding:0px !important;

}
#main-section{
	width:100% !important;

}
.right_section{
	height:calc(100vh - 113px) !important;
	margin:57px 0px 0px 0px !important;
	padding:0px !important;
	clear:both !important;
	left:0px !important;
	width:30vw !important;
}
#main-room{
	padding:0px 0px !important;

}
section #main_player, #main_player iframe{
	height:calc(100vh - 195px) !important;
}
.player_sharing{
	margin:0px !important;
	position:absolute;
	padding:0px !important;
	height:100px;
	top:-37px;
	left:280px;
	
}
.play-song-link-container{
	display:none;
}
.player_header{
	margin:0px !important;
	background-color:black;
	height:50px;
	top:-50px !important;
	padding:0px !important;
}
.player_header span{
	height:50px;
	padding-top:15px !important;
	box-sizing:border-box;
}
.displayVideo-el,.display-queue,.room-info-display,.skip-el{
	border-radius:0px !important;
}
.main-player-wrapper{
	all:unset !important;
}
#main-section .left_section{
	height:calc(100vh - 190px);
	margin:57px 0px 0px 0px;
	float:right;
	left:calc(30vw + 10px);
	width:calc(70vw - 20px);
	padding:50px 0px;
}

section #main_player, .chat-container, #main_avatar_room, #chat{
	background:black;
	box-shadow:inset 0px 0px 0px 5px #0d0d0f,
	 inset 0px 0px 10px 10px black;
	border-radius:2px;
}
#player-controller{
	background:#323438 !important;
}
/* CHAT CONTAINER */
.chat_tools{
	margin-left:5px;
	margin-top:5px;
	border:none !important;
	width:calc(100% - 5px) !important;
}
.chat_tools span{
	box-shadow: inset 0px -2px 0px #0d0d0f;
}
.pusher-chat-widget-input{
	border:none !important;
	box-shadow:inset 0px 4px 0px #0d0d0f;
}
.ps-scrollbar-y{
	width:4px !important;

}
/* CHAT ELEMENTS */
.chat-system-joined{
	color:#ff1654 !important;
	text-shadow:1px 1px rgba(255,255,255,.3);
	text-align:center;
	
	border-style: dashed;
	height:20px;
    border-width: 2px 0px 2px 0px;
    border-color:rgba(200,200,200,.3);
}

.co-owner .username, .co-owner .user-role{
	color:#EF233C !important;
}
.manager .username, .manager .user-role{
	color:#F25F5C !important;
}
.mod .username, .mod .user-role{
	color:#247BA0 !important;
}
.vip .username, .vip .user-role{
	color:#70C1B3 !important;
}
#new-messages-counter{
	padding-bottom:10px !important;
	opacity:1 !important;
	background:rgba(239,35,60,.5) !important;
	color:white !important;
}
/* FOOTER AREA */
.progressBg{
  background: #F25F5C !important;
  height:56px !important;
  z-index:-1;
  transition:all 2s;
}
#player-controller .right ul li .dubup.voted span {
    color: #F3FFBD;

}
#player-controller .right ul li .dubdown.voted span{
    color: #F3FFBD !important;

}
#player-controller .right ul li .dubup.voted{
	background: #247BA0;
	box-shadow:inset 4px 4px 30px rgba(255,255,255,.3),
	 inset -4px -4px 30px rgba(0,0,0,.4);
}
#player-controller .right ul li .dubdown.voted{
	background: #FF1654;
	color:#F3FFBD;
	box-shadow:inset 4px 4px 30px rgba(255,255,255,.3),
	 inset -4px -4px 30px rgba(0,0,0,.4);
}

#player-controller .right ul li .add-to-playlist-button.grabbed span .grab-counter{
    line-height:10px;
    color:blue;
}
.icon-heart:before{
    content: "\2605";
    color: #FF337B;
    font-size:20px;
    
}
#player-controller .right ul li .add-to-playlist-button.grabbed {
    background: #FFFFFF;
    box-shadow:inset 4px 4px 30px rgba(255,255,255,.4),
	 inset -4px -4px 30px rgba(0,0,0,.4);
}

/* DUBX */
.for_content.ps-container{
	background:rgba(0,0,0,.8) !important;
}


.usercontent{
	background: linear-gradient(rgba(255,255,255,.2),white), url("https://i.ytimg.com/vi/4EcFQM46Ze0/maxresdefault.jpg") center;
.global-actions{
	background:rgba(50,52,56,.3) !important;
	color:white !important;
}
